
  <h1>Stanford Tweets </h1>
  <div id ="container">
    <aside id="topPeople">TOP PEOPLE</aside>
    <aside id="topLocations"></aside>
    <div id="top"></div>
    <!-- <button class="sort" data-sort="date">Sort by date</button>
    <button class="sort" data-sort="retweets">Sort by retweets</button>
    <button class="sort" data-sort="location">Sort by location</button>
    <button class="sort" data-sort="followers">Sort by # of followers</button> -->
    <ul class="list"></ul>
  </div>


