<button class="sort" data-sort="date">Sort by date</button>
<button class="sort" data-sort="retweets">Sort by retweets</button>
<button class="sort" data-sort="location">Sort by location</button>
<button class="sort" data-sort="followers">Sort by # of followers</button>