<aside id="topThree">
  <h2>Top People</h2>
  <ol>
    <li id="zero"><%=people[0].user_name%></li>
    <li id="one"><%=people[1].user_name%></li>
    <li id="two"><%=people[2].user_name%></li>
  </ol>
</aside>



  


