<aside id="topThreeLocations">
  <h2>Top 3 Locations</h2>
  <ol>
    <li id="lzero"><%=places[0].place%></li>
    <li id="lone"><%=places[1].place%></li>
    <li id="ltwo"><%=places[2].place%></li>
  </ol>
</aside>